# Пример как работает стратифицированная случайная выборка

In [60]:
import pandas as pd

#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'B', 'B'],
                   'position': ['G', 'G', 'F', 'G', 'F', 'F', 'C', 'C'],
                   'assists': [5, 7, 7, 8, 5, 7, 6, 9],
                   'rebounds': [11, 8, 10, 6, 6, 9, 6, 10]})

#view DataFrame
df

  team position  assists  rebounds
0    A        G        5        11
1    A        G        7         8
2    B        F        7        10
3    B        G        8         6
4    B        F        5         6
5    B        F        7         9
6    B        C        6         6
7    B        C        9        10

In [61]:
import numpy as np

#define total sample size desired
N = 4

#perform stratified random sampling
df.groupby('team', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(df))))).sample(frac=1).reset_index(drop=True)

  team position  assists  rebounds
0    B        C        6         6
1    A        G        7         8
2    B        F        7         9
3    B        G        8         6

# Мои данные

In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [63]:
# загружаем чистый набор данных инцдентов на критические инфраструктуры с использованием рукопашного боя (32 инцидента)
df1 = pd.read_csv('Facility_Melee_clean_32_dataset.csv')
df1.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,198106230008,1981,6,23,NaN,0,NaN,362,West Germany (FRG),8,...,NaN,NaN,NaN,NaN,PGIS,1,1,1,1,NaN
1,198201220005,1982,1,22,NaN,0,NaN,159,Peru,3,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
2,198203260011,1982,3,26,NaN,0,NaN,159,Peru,3,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
3,199107120014,1991,7,12,NaN,0,NaN,142,Netherlands,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,199203210008,1992,3,21,NaN,0,NaN,15,Austria,8,...,NaN,NaN,NaN,NaN,PGIS,1,0,1,1,NaN

In [64]:
# создаем класс по которому будет происходить разделение
df1["fight"] = "рукопашный бой"

In [65]:
# смотрим класс по которому будет происходить разделение
df1["fight"]

0     рукопашный бой
1     рукопашный бой
2     рукопашный бой
3     рукопашный бой
4     рукопашный бой
5     рукопашный бой
6     рукопашный бой
7     рукопашный бой
8     рукопашный бой
9     рукопашный бой
10    рукопашный бой
11    рукопашный бой
12    рукопашный бой
13    рукопашный бой
14    рукопашный бой
15    рукопашный бой
16    рукопашный бой
17    рукопашный бой
18    рукопашный бой
19    рукопашный бой
20    рукопашный бой
21    рукопашный бой
22    рукопашный бой
23    рукопашный бой
24    рукопашный бой
25    рукопашный бой
26    рукопашный бой
27    рукопашный бой
28    рукопашный бой
29    рукопашный бой
30    рукопашный бой
31    рукопашный бой
Name: fight, dtype: object

In [66]:
# размер чистыого набора данных инцидентов на критические инфраструктуры с использованием рукопашного боя (32 инцидента)
df1.shape

(32, 136)

In [67]:
# загружаем чистый набор данных инцдентов на критические инфраструктуры с использованием оборудования для саботажа (20 инцидентов)
df2 = pd.read_csv('Facility_Sabotage_Equipment_clean_20_dataset.csv')
df2.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197005290005,1970,5,29,"May 27 - June 5, 1970",0,NaN,217,United States,1,...,The USS Richard B. Anderson departed from San ...,Committee on Government Operations United Stat...,"""Around the Nation: Sabotage,"" Washington Post...","""3 Sailors Held In Damage To Viet-Bound Destro...",Hewitt Project,-9,-9,0,-9,NaN
1,198106050007,1981,6,5,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN
2,198710050012,1987,10,5,NaN,0,NaN,217,United States,1,...,Although the lift was closed for winter openin...,"""Eco-Terrorism and Lawlessness on the National...","""Environmentalist placed at scene of ski lift ...","""Vandals Hit Ski Area Equipment,"" Mohave Daily...",Eco Project 2010,0,0,0,0,NaN
3,198711070018,1987,11,7,NaN,0,NaN,217,United States,1,...,Although the lift was closed for winter openin...,"FBI, ""Terrorism in the United States: 1988,"" T...","Angela Astle, ""Sabotage of ski lift detailed i...","Charlene Smith, ""Environmental Activists Sente...",Eco Project 2010,0,0,0,0,NaN
4,198809250009,1988,9,25,NaN,0,NaN,217,United States,1,...,It is unclear if this group is an offshoot of ...,"FBI, ""Terrorism in the United States: 1988,"" T...","""The charges against Earth First! members- a c...","Holly J. Wolcott, ""Evidence links defendant to...",Eco Project 2010,0,0,0,0,NaN

In [68]:
# создаем класс по которому будет происходить разделение
df2["fight"] = "саботаж"

In [69]:
# смотрим класс по которому будет происходить разделение
df2["fight"]

0     саботаж
1     саботаж
2     саботаж
3     саботаж
4     саботаж
5     саботаж
6     саботаж
7     саботаж
8     саботаж
9     саботаж
10    саботаж
11    саботаж
12    саботаж
13    саботаж
14    саботаж
15    саботаж
16    саботаж
17    саботаж
18    саботаж
19    саботаж
Name: fight, dtype: object

In [70]:
# размер чистыого набора данных инцидентов на критические инфраструктуры с использованием оборудования для саботажа (20 инцидентов)
df2.shape

(20, 136)

In [71]:
import numpy as np

# определяем размер выборки для первой группы (рукопашный бой)
N = 18

# делаем стратифицированную случайную выборку
a = df1.groupby('fight', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(df1))))).sample(frac=1).reset_index(drop=True)
a

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,fight
0,200612310008,2006,12,31,NaN,0,NaN,141,Nepal,6,...,"""JTMM opens fire on Kantipur vehicle,"" ekantip...",NaN,NaN,UMD JTMM Nepal 2012,0,0,0,0,NaN,рукопашный бой
1,201705240049,2017,5,24,NaN,0,NaN,78,Greece,8,...,"""Anarchists upset student union elections, one...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,рукопашный бой
2,201511110065,2015,11,11,NaN,0,NaN,603,United Kingdom,8,...,"""Attack on Catholic home blamed on loyalist ga...",NaN,NaN,START Primary Collection,0,0,1,1,NaN,рукопашный бой
3,199107120014,1991,7,12,NaN,0,NaN,142,Netherlands,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,рукопашный бой
4,201808260015,2018,8,25,NaN,0,NaN,78,Greece,8,...,"""State PAO: Greece: Daily Media Roundup Monday...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,рукопашный бой
5,199209210013,1992,9,21,NaN,0,NaN,75,Germany,8,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
6,199203260006,1992,3,26,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,PGIS,1,0,1,1,NaN,рукопашный бой
7,199410180008,1994,10,18,NaN,0,NaN,93,Indonesia,5,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
8,199503180010,1995,3,18,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
9,201606230050,2016,6,23,NaN,0,NaN,142,Netherlands,8,...,"""Turkish mosque vandalized in Netherlands,"" An...","""Turkish mosque vandalized in the Netherlands,...",NaN,START Primary Collection,1,1,0,1,NaN,рукопашный бой
10,198106230008,1981,6,23,NaN,0,NaN,362,West Germany (FRG),8,...,NaN,NaN,NaN,PGIS,1,1,1,1,NaN,рукопашный бой
11,201409250028,2014,9,25,NaN,0,NaN,122,Maldives,6,...,"""Maldives: Three Arrested in Connection With M...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,рукопашный бой
12,201512160053,2015,12,16,NaN,0,NaN,78,Greece,8,...,"""Anarchists raid Teiresias HQ, no injuries,"" E...","""Seven arrested for vandalizing offices as Rou...",NaN,START Primary Collection,0,0,0,0,NaN,рукопашный бой
13,199904300002,1999,4,30,NaN,0,NaN,185,Spain,8,...,"""Spain: Pro-ETA Group Attacks Temp Agency in I...",NaN,NaN,CETIS,0,0,0,0,NaN,рукопашный бой
14,199203230023,1992,3,23,NaN,0,NaN,198,Sweden,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,рукопашный бой
15,198203260011,1982,3,26,NaN,0,NaN,159,Peru,3,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
16,199203210010,1992,3,21,NaN,0,NaN,151,Norway,8,...,NaN,NaN,NaN,PGIS,1,0,1,1,NaN,рукопашный бой
17,201712070018,2017,12,7,NaN,0,NaN,142,Netherlands,8,...,"""Amsterdam kosher eatery assailant reportedly ...","""Palestinian who vandalized Amsterdam kosher e...",NaN,START Primary Collection,1,1,0,1,NaN,рукопашный бой

In [72]:
# смотрим стратифицированную случайную выборку
a.nperps

0      5.0
1     20.0
2      3.0
3     70.0
4      4.0
5     60.0
6     28.0
7     12.0
8      1.0
9     15.0
10    30.0
11     3.0
12    14.0
13     8.0
14    40.0
15    20.0
16    30.0
17     1.0
Name: nperps, dtype: float64

In [73]:
import numpy as np

# определяем размер выборки для второй группы (саботаж)
N = 18

# делаем стратифицированную случайную выборку
b = df2.groupby('fight', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(df2))))).sample(frac=1).reset_index(drop=True)
b

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,fight
0,198810250013,1988,10,25,"October 25-26, 1988",0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1988,"" T...","Angela Astle, ""Sabotage of ski lift detailed i...","""The charges against Earth First! Members- a c...",Eco Project 2010,0,0,0,0,NaN,саботаж
1,201707280045,2017,7,28,NaN,0,NaN,54,Czech Republic,9,...,"""Revision: Prague - Czech 'fake jihadist' face...","""Man caused train crashes then left Arabic mes...","""Terrorism Digest 13-14 January 2019,"" BBC Mon...",START Primary Collection,-9,-9,0,-9,NaN,саботаж
2,201810070039,2018,10,7,NaN,0,NaN,75,Germany,8,...,"""Terrorism Digest: 28-29 October 2018,"" BBC Mo...","""Germany: Islamic Bulletin for 24-30 October 2...",NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж
3,198711070018,1987,11,7,NaN,0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1988,"" T...","Angela Astle, ""Sabotage of ski lift detailed i...","Charlene Smith, ""Environmental Activists Sente...",Eco Project 2010,0,0,0,0,NaN,саботаж
4,198905300021,1989,5,30,NaN,0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1989,"" T...","""Four Environmentalists Arrested on Nuclear Sa...",NaN,Eco Project 2010,0,0,0,0,NaN,саботаж
5,201103010026,2011,3,1,NaN,0,NaN,92,India,6,...,"South Asia Terrorism Portal, ""Maoists Set Abla...","Press Trust of India, “Maoists Demolish School...","Asian News International, ""Maoists Demolish Sc...",ISVG,0,0,0,0,"201103010007, 201103010025, 201103010026",саботаж
6,201103010025,2011,3,1,NaN,0,NaN,92,India,6,...,"South Asia Terrorism Portal, ""Maoists Set Abla...","Press Trust of India, “Maoists Demolish School...","Asian News International, ""Maoists Demolish Sc...",ISVG,0,0,0,0,"201103010007, 201103010025, 201103010026",саботаж
7,201310070055,2013,10,7,NaN,0,NaN,160,Philippines,5,...,"""Militiamen chase away saboteur trying to topp...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж
8,198106050007,1981,6,5,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,саботаж
9,200005080002,2000,5,8,NaN,0,NaN,92,India,6,...,"""India's VHP Activists Attack Hostel Run by Mi...","""Missionary Zeal: Minority Schools Under Attac...",NaN,CETIS,0,0,0,0,NaN,саботаж
10,197005290005,1970,5,29,"May 27 - June 5, 1970",0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"""Around the Nation: Sabotage,"" Washington Post...","""3 Sailors Held In Damage To Viet-Bound Destro...",Hewitt Project,-9,-9,0,-9,NaN,саботаж
11,201009050031,2010,9,5,NaN,0,NaN,205,Thailand,5,...,"National Counterterrorism Center, ""Two Bus She...","BBC Monitoring Asia Pacific, “Seven Districts ...","Xinhua News Agency, “Thailand's Deep South See...",ISVG,-9,-9,0,-9,"201009050024, 201009050025, 201009050026, 2010...",саботаж
12,201105060020,2011,5,6,NaN,0,NaN,92,India,6,...,"Press Trust of India, “Maoists Ransack Liquor ...","Hindu, “Maoists Ransack Liquor Shop, SPO's Hou...","South Asia Terrorism Portal, “Maoists Ransack ...",ISVG,0,0,0,0,NaN,саботаж
13,201802250036,2018,2,25,NaN,0,NaN,78,Greece,8,...,"""Greek Anarchists Rouvikonas Hit Novartis Head...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,саботаж
14,199912300002,1999,12,30,NaN,0,NaN,217,United States,1,...,U.S. Government’s Sentencing Memorandum for CR...,"Joseph B. Frazier, ""Four indicted in Oregon af...","""Power line sabotaged in Oregon,"" Associated P...",Eco Project 2010,0,1,0,1,NaN,саботаж
15,201706010036,2017,6,1,NaN,0,NaN,54,Czech Republic,9,...,"""Revision: Prague - Czech 'fake jihadist' face...","""Man caused train crashes then left Arabic mes...","""Terrorism Digest 13-14 January 2019,"" BBC Mon...",START Primary Collection,-9,-9,0,-9,NaN,саботаж
16,201110060010,2011,10,6,NaN,0,NaN,69,France,8,...,"Today's Zaman, ""PKK Supporters Attack Zaman Of...","BBC Monitoring Europe, ""Programme Summary of B...",NaN,ISVG,1,0,1,1,NaN,саботаж
17,201812230009,2018,12,23,NaN,0,NaN,75,Germany,8,...,"""Singapore: German police find Islamic State f...","""Europe: German-Speaking Islamic Bulletin for ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж

In [74]:
# смотрим стратифицированную случайную выборку
b.nperps

0       4.0
1       1.0
2       1.0
3       4.0
4       2.0
5     100.0
6     100.0
7       1.0
8       3.0
9      80.0
10      1.0
11     10.0
12    100.0
13     30.0
14      4.0
15      1.0
16     25.0
17      1.0
Name: nperps, dtype: float64

In [75]:
a["fight"]

0     рукопашный бой
1     рукопашный бой
2     рукопашный бой
3     рукопашный бой
4     рукопашный бой
5     рукопашный бой
6     рукопашный бой
7     рукопашный бой
8     рукопашный бой
9     рукопашный бой
10    рукопашный бой
11    рукопашный бой
12    рукопашный бой
13    рукопашный бой
14    рукопашный бой
15    рукопашный бой
16    рукопашный бой
17    рукопашный бой
Name: fight, dtype: object

In [76]:
a

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,fight
0,200612310008,2006,12,31,NaN,0,NaN,141,Nepal,6,...,"""JTMM opens fire on Kantipur vehicle,"" ekantip...",NaN,NaN,UMD JTMM Nepal 2012,0,0,0,0,NaN,рукопашный бой
1,201705240049,2017,5,24,NaN,0,NaN,78,Greece,8,...,"""Anarchists upset student union elections, one...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,рукопашный бой
2,201511110065,2015,11,11,NaN,0,NaN,603,United Kingdom,8,...,"""Attack on Catholic home blamed on loyalist ga...",NaN,NaN,START Primary Collection,0,0,1,1,NaN,рукопашный бой
3,199107120014,1991,7,12,NaN,0,NaN,142,Netherlands,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,рукопашный бой
4,201808260015,2018,8,25,NaN,0,NaN,78,Greece,8,...,"""State PAO: Greece: Daily Media Roundup Monday...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,рукопашный бой
5,199209210013,1992,9,21,NaN,0,NaN,75,Germany,8,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
6,199203260006,1992,3,26,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,PGIS,1,0,1,1,NaN,рукопашный бой
7,199410180008,1994,10,18,NaN,0,NaN,93,Indonesia,5,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
8,199503180010,1995,3,18,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
9,201606230050,2016,6,23,NaN,0,NaN,142,Netherlands,8,...,"""Turkish mosque vandalized in Netherlands,"" An...","""Turkish mosque vandalized in the Netherlands,...",NaN,START Primary Collection,1,1,0,1,NaN,рукопашный бой
10,198106230008,1981,6,23,NaN,0,NaN,362,West Germany (FRG),8,...,NaN,NaN,NaN,PGIS,1,1,1,1,NaN,рукопашный бой
11,201409250028,2014,9,25,NaN,0,NaN,122,Maldives,6,...,"""Maldives: Three Arrested in Connection With M...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,рукопашный бой
12,201512160053,2015,12,16,NaN,0,NaN,78,Greece,8,...,"""Anarchists raid Teiresias HQ, no injuries,"" E...","""Seven arrested for vandalizing offices as Rou...",NaN,START Primary Collection,0,0,0,0,NaN,рукопашный бой
13,199904300002,1999,4,30,NaN,0,NaN,185,Spain,8,...,"""Spain: Pro-ETA Group Attacks Temp Agency in I...",NaN,NaN,CETIS,0,0,0,0,NaN,рукопашный бой
14,199203230023,1992,3,23,NaN,0,NaN,198,Sweden,8,...,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN,рукопашный бой
15,198203260011,1982,3,26,NaN,0,NaN,159,Peru,3,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,рукопашный бой
16,199203210010,1992,3,21,NaN,0,NaN,151,Norway,8,...,NaN,NaN,NaN,PGIS,1,0,1,1,NaN,рукопашный бой
17,201712070018,2017,12,7,NaN,0,NaN,142,Netherlands,8,...,"""Amsterdam kosher eatery assailant reportedly ...","""Palestinian who vandalized Amsterdam kosher e...",NaN,START Primary Collection,1,1,0,1,NaN,рукопашный бой

In [77]:
b["fight"]

0     саботаж
1     саботаж
2     саботаж
3     саботаж
4     саботаж
5     саботаж
6     саботаж
7     саботаж
8     саботаж
9     саботаж
10    саботаж
11    саботаж
12    саботаж
13    саботаж
14    саботаж
15    саботаж
16    саботаж
17    саботаж
Name: fight, dtype: object

In [78]:
b

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related,fight
0,198810250013,1988,10,25,"October 25-26, 1988",0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1988,"" T...","Angela Astle, ""Sabotage of ski lift detailed i...","""The charges against Earth First! Members- a c...",Eco Project 2010,0,0,0,0,NaN,саботаж
1,201707280045,2017,7,28,NaN,0,NaN,54,Czech Republic,9,...,"""Revision: Prague - Czech 'fake jihadist' face...","""Man caused train crashes then left Arabic mes...","""Terrorism Digest 13-14 January 2019,"" BBC Mon...",START Primary Collection,-9,-9,0,-9,NaN,саботаж
2,201810070039,2018,10,7,NaN,0,NaN,75,Germany,8,...,"""Terrorism Digest: 28-29 October 2018,"" BBC Mo...","""Germany: Islamic Bulletin for 24-30 October 2...",NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж
3,198711070018,1987,11,7,NaN,0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1988,"" T...","Angela Astle, ""Sabotage of ski lift detailed i...","Charlene Smith, ""Environmental Activists Sente...",Eco Project 2010,0,0,0,0,NaN,саботаж
4,198905300021,1989,5,30,NaN,0,NaN,217,United States,1,...,"FBI, ""Terrorism in the United States: 1989,"" T...","""Four Environmentalists Arrested on Nuclear Sa...",NaN,Eco Project 2010,0,0,0,0,NaN,саботаж
5,201103010026,2011,3,1,NaN,0,NaN,92,India,6,...,"South Asia Terrorism Portal, ""Maoists Set Abla...","Press Trust of India, “Maoists Demolish School...","Asian News International, ""Maoists Demolish Sc...",ISVG,0,0,0,0,"201103010007, 201103010025, 201103010026",саботаж
6,201103010025,2011,3,1,NaN,0,NaN,92,India,6,...,"South Asia Terrorism Portal, ""Maoists Set Abla...","Press Trust of India, “Maoists Demolish School...","Asian News International, ""Maoists Demolish Sc...",ISVG,0,0,0,0,"201103010007, 201103010025, 201103010026",саботаж
7,201310070055,2013,10,7,NaN,0,NaN,160,Philippines,5,...,"""Militiamen chase away saboteur trying to topp...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж
8,198106050007,1981,6,5,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN,саботаж
9,200005080002,2000,5,8,NaN,0,NaN,92,India,6,...,"""India's VHP Activists Attack Hostel Run by Mi...","""Missionary Zeal: Minority Schools Under Attac...",NaN,CETIS,0,0,0,0,NaN,саботаж
10,197005290005,1970,5,29,"May 27 - June 5, 1970",0,NaN,217,United States,1,...,Committee on Government Operations United Stat...,"""Around the Nation: Sabotage,"" Washington Post...","""3 Sailors Held In Damage To Viet-Bound Destro...",Hewitt Project,-9,-9,0,-9,NaN,саботаж
11,201009050031,2010,9,5,NaN,0,NaN,205,Thailand,5,...,"National Counterterrorism Center, ""Two Bus She...","BBC Monitoring Asia Pacific, “Seven Districts ...","Xinhua News Agency, “Thailand's Deep South See...",ISVG,-9,-9,0,-9,"201009050024, 201009050025, 201009050026, 2010...",саботаж
12,201105060020,2011,5,6,NaN,0,NaN,92,India,6,...,"Press Trust of India, “Maoists Ransack Liquor ...","Hindu, “Maoists Ransack Liquor Shop, SPO's Hou...","South Asia Terrorism Portal, “Maoists Ransack ...",ISVG,0,0,0,0,NaN,саботаж
13,201802250036,2018,2,25,NaN,0,NaN,78,Greece,8,...,"""Greek Anarchists Rouvikonas Hit Novartis Head...",NaN,NaN,START Primary Collection,0,0,0,0,NaN,саботаж
14,199912300002,1999,12,30,NaN,0,NaN,217,United States,1,...,U.S. Government’s Sentencing Memorandum for CR...,"Joseph B. Frazier, ""Four indicted in Oregon af...","""Power line sabotaged in Oregon,"" Associated P...",Eco Project 2010,0,1,0,1,NaN,саботаж
15,201706010036,2017,6,1,NaN,0,NaN,54,Czech Republic,9,...,"""Revision: Prague - Czech 'fake jihadist' face...","""Man caused train crashes then left Arabic mes...","""Terrorism Digest 13-14 January 2019,"" BBC Mon...",START Primary Collection,-9,-9,0,-9,NaN,саботаж
16,201110060010,2011,10,6,NaN,0,NaN,69,France,8,...,"Today's Zaman, ""PKK Supporters Attack Zaman Of...","BBC Monitoring Europe, ""Programme Summary of B...",NaN,ISVG,1,0,1,1,NaN,саботаж
17,201812230009,2018,12,23,NaN,0,NaN,75,Germany,8,...,"""Singapore: German police find Islamic State f...","""Europe: German-Speaking Islamic Bulletin for ...",NaN,START Primary Collection,-9,-9,0,-9,NaN,саботаж

In [79]:
a.shape

(18, 136)

In [80]:
b.shape

(18, 136)

In [81]:
a.to_csv("кол_во_атакующих_стратифицированная_случайная_выборка_18_инцидентов_рукопашный_бой.csv", index = False)
b.to_csv("кол_во_атакующих_стратифицированная_случайная_выборка_18_инцидентов_саботаж.csv", index = False)